@import '@/styles/marked.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
 position: relative;
 background-color: theme(backgroundColor.white);
 color: theme(textColor.black);
 background-image: url('@/assets/grid.svg');
}


