@import '@/styles/marked.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
 position: relative;
 background-color: theme(backgroundColor.white);
 color: theme(textColor.black);
}

.bg-gh-marketingDark{
  background-color:rgba(5,13,33,1)
}

