:root{
  --icon-size: 16px;
  --toolbar-icon-opacity: 0.8;
  --toolbar-icon-color: #fff;
  --toolbar-icon-hover-bg-color: #eee;


  --field-color:#fff;
  --field-border-color:#000;
  --field-bg-color:light-dark(rgb(249 249 250), rgb(56 56 61));

  --button-hover-color: color-mix(in srgb, currentColor 17%, transparent);

  --loading-icon: url(../assets/images/loading.svg);
  --treeitem-expanded-icon: url(../assets/images/treeitem-expanded.svg);
  --treeitem-collapsed-icon: url(../assets/images/treeitem-collapsed.svg);
  --toolbarButton-editorFreeText-icon: url(../assets/images/toolbarButton-editorFreeText.svg);
  --toolbarButton-editorHighlight-icon: url(../assets/images/toolbarButton-editorHighlight.svg);
  --toolbarButton-editorInk-icon: url(../assets/images/toolbarButton-editorInk.svg);
  --toolbarButton-editorStamp-icon: url(../assets/images/toolbarButton-editorStamp.svg);
  --toolbarButton-editorSignature-icon: url(../assets/images/toolbarButton-editorSignature.svg);
  --toolbarButton-menuArrow-icon: url(../assets/images/toolbarButton-menuArrow.svg);
  --toolbarButton-sidebarToggle-icon: url(../assets/images/toolbarButton-sidebarToggle.svg);
  --toolbarButton-secondaryToolbarToggle-icon: url(../assets/images/toolbarButton-secondaryToolbarToggle.svg);
  --toolbarButton-pageUp-icon: url(../assets/images/toolbarButton-pageUp.svg);
  --toolbarButton-pageDown-icon: url(../assets/images/toolbarButton-pageDown.svg);
  --toolbarButton-zoomOut-icon: url(../assets/images/toolbarButton-zoomOut.svg);
  --toolbarButton-zoomIn-icon: url(../assets/images/toolbarButton-zoomIn.svg);
  --toolbarButton-presentationMode-icon: url(../assets/images/toolbarButton-presentationMode.svg);
  --toolbarButton-print-icon: url(../assets/images/toolbarButton-print.svg);
  /*#if GENERIC*/
  --toolbarButton-openFile-icon: url(../assets/images/toolbarButton-openFile.svg);
  /*#endif*/
  --toolbarButton-download-icon: url(../assets/images/toolbarButton-download.svg);
  --toolbarButton-bookmark-icon: url(../assets/images/toolbarButton-bookmark.svg);
  --toolbarButton-viewThumbnail-icon: url(../assets/images/toolbarButton-viewThumbnail.svg);
  --toolbarButton-viewOutline-icon: url(../assets/images/toolbarButton-viewOutline.svg);
  --toolbarButton-viewAttachments-icon: url(../assets/images/toolbarButton-viewAttachments.svg);
  --toolbarButton-viewLayers-icon: url(../assets/images/toolbarButton-viewLayers.svg);
  --toolbarButton-currentOutlineItem-icon: url(../assets/images/toolbarButton-currentOutlineItem.svg);
  --toolbarButton-search-icon: url(../assets/images/toolbarButton-search.svg);
  --findbarButton-previous-icon: url(../assets/images/findbarButton-previous.svg);
  --findbarButton-next-icon: url(../assets/images/findbarButton-next.svg);
  --secondaryToolbarButton-firstPage-icon: url(../assets/images/secondaryToolbarButton-firstPage.svg);
  --secondaryToolbarButton-lastPage-icon: url(../assets/images/secondaryToolbarButton-lastPage.svg);
  --secondaryToolbarButton-rotateCcw-icon: url(../assets/images/secondaryToolbarButton-rotateCcw.svg);
  --secondaryToolbarButton-rotateCw-icon: url(../assets/images/secondaryToolbarButton-rotateCw.svg);
  --secondaryToolbarButton-selectTool-icon: url(../assets/images/secondaryToolbarButton-selectTool.svg);
  --secondaryToolbarButton-handTool-icon: url(../assets/images/secondaryToolbarButton-handTool.svg);
  --secondaryToolbarButton-scrollPage-icon: url(../assets/images/secondaryToolbarButton-scrollPage.svg);
  --secondaryToolbarButton-scrollVertical-icon: url(../assets/images/secondaryToolbarButton-scrollVertical.svg);
  --secondaryToolbarButton-scrollHorizontal-icon: url(../assets/images/secondaryToolbarButton-scrollHorizontal.svg);
  --secondaryToolbarButton-scrollWrapped-icon: url(../assets/images/secondaryToolbarButton-scrollWrapped.svg);
  --secondaryToolbarButton-spreadNone-icon: url(../assets/images/secondaryToolbarButton-spreadNone.svg);
  --secondaryToolbarButton-spreadOdd-icon: url(../assets/images/secondaryToolbarButton-spreadOdd.svg);
  --secondaryToolbarButton-spreadEven-icon: url(../assets/images/secondaryToolbarButton-spreadEven.svg);
  --secondaryToolbarButton-imageAltTextSettings-icon: var(
    --toolbarButton-editorStamp-icon
  );
  --secondaryToolbarButton-documentProperties-icon: url(../assets/images/secondaryToolbarButton-documentProperties.svg);
  --editorParams-stampAddImage-icon: url(../assets/images/toolbarButton-zoomIn.svg);
}

#outerContainer{
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#mainContainer{
  position: absolute;
  inset: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.viewerContainer {
  position: absolute;
  top: 28px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  background-color: light-dark(rgb(212 212 215), rgb(42 42 46));
}

.pdfViewer {
  position: relative;
  width: 100%;
}


.toolbar{
  position: relative;
  z-index: 2;
  background-color: light-dark(rgb(249 249 250), rgb(56 56 61));
}

.toolbarContainer{
  height: 28px;
  padding-inline: 16px;
}

#toolbarViewer{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

#toolbarViewerLeft{
  display: flex;
}

.toolbarHorizontalGroup {
  height: 100%;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1px;
  box-sizing: border-box;
}


.toolbarButton {
  height: 100%;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  outline: none;
  box-sizing: border-box;
  position: relative;
  padding: 0;

  &:hover{
    background-color: var(--button-hover-color);
  }
}


.toolbarButton::before {
  content: "";
  opacity: var(--toolbar-icon-opacity);
  display: inline-block;
  width: var(--icon-size);
  height: var(--icon-size);
  background-color: var(--toolbar-icon-color, black);
  mask-size: cover;
  mask-position: center;
}


#printButton::before {
  mask-image: var(--toolbarButton-print-icon);
  -webkit-mask-image: var(--toolbarButton-print-icon);
}


#downloadButton::before {
  mask-image: var(--toolbarButton-download-icon);
  -webkit-mask-image: var(--toolbarButton-download-icon);
}

#viewFindButton::before {
  mask-image: var(--toolbarButton-search-icon);
  -webkit-mask-image: var(--toolbarButton-search-icon);
}


#previous::before {
  mask-image: var(--toolbarButton-pageUp-icon);
  -webkit-mask-image: var(--toolbarButton-pageUp-icon);
}


#next::before {
  mask-image: var(--toolbarButton-pageDown-icon);
  -webkit-mask-image: var(--toolbarButton-pageDown-icon);
}




.toolbarField {
  padding: 4px 7px;
  margin: 3px 0;
  border-radius: 2px;
  background-color: var(--field-bg-color);
  background-clip: padding-box;
  border: 1px solid var(--field-border-color);
  box-shadow: none;
  color: var(--field-color);
  font-size: 12px;
  line-height: 16px;
  outline: none;

  &:focus {
    border-color: #0a84ff;
  }
}


#pageNumber {
  -moz-appearance: textfield; /* hides the spinner in moz */
  text-align: end;
  width: 40px;
  background-size: 0 0;
  transition-property: none;

  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}